.section2 {
  background: lightgray;
  height: 100vh;
  width: 100vw;

}
.section2-wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.section2-item {
  width: 50%;
  height: auto;
  margin: 20px 0;
  text-align: center;
}
h2 {
  margin-top: 0;
}

.section2-box1 h2 {
  text-align: center;
  font-size: 2em;
}
.section2-box1 p {
  font-size: 1.5em;
  text-align: center;
}

.section2-box2 #box2-picture {
  width: 250px;
  height: auto;
  margin: 0 auto;
}
#box2-picture img {
  width: 100%;
  border-radius: 50%;
}

.section2-box2 {
  order: 2;
}
.section2-box2 #box2-qoute {
  width: 100%;
  height: 100px;
  padding: 15px;
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .section2 {
    flex-wrap: nowrap;
  }
  .section2-wrapper {
    flex-direction: column;
    font-size: 15px;
    margin: 0 10px 0 10px;

  }
  .section2-box1 {
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
  .section2-box2 {
    width: 50%;
    order: 0;
  }

}
