.section3 {
  background: #1D1128;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.section3-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}
.section3-box-wrapper {
  display: flex;
  justify-content: center;
}
.section3-box {
  width: 250px;
  height: 250px;
  margin: 20px;
  text-align: center;
}

.section3 img {
  width: 40px;
  height: 40px;
}

.html-logo {
  height: 100%;
  width: 100%;
  background: url('../img/html5.png') no-repeat;
  background-position: center;
  background-size: contain;
}
.css-logo {
  height: 100%;
  width: 100%;
  background: url('../img/css3.png') no-repeat;
  background-position: center;
  background-size: 94%;
}

.js-logo {
  height: 100%;
  width: 100%;
  background: url('../img/js.png') no-repeat;
  background-position: center;
  background-size: 95%;
}
* {
  box-sizing: border-box;
}
