.section4 {
  height: 100vh;
  width: 100vw;
  position: relative;
  /*background: rgba(255,0,150,0.3) url("../img/header.jpg") no-repeat;*/
  background: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../img/header.jpg");
  background-size: cover;
}
.section4-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}


.section4 h1 {
  color: white;
  text-align: center;
  margin: 0 auto 40px;
  font-size: 3em;
  font-weight: 700;
}

.section4-box-wrapper {
  /*display: flex;
  justify-content: center;*/
}
.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.67);
  border-radius: 3px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}
input.text {
  display: block;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
      border-radius: 3px;
}
textarea {
  display: block;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
      border-radius: 3px;
}
#send-message {
  margin-top: 10px;
  padding: 10px 25px;
  background: black;
  color: white;
  border: none;
}
#status {
  display: none;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.status-green {
  background: #3f7f3fa1;
  color: #ffffff;
  border: 2px solid #1d8c1d;
}
.status-red {
  background: #88323294;
  color: #ffffff;
  border: 2px solid red;
}
.error {
  outline: 2px solid red;
}


* {
  box-sizing: border-box;
}
