.section3 {
  background: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3-box {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  margin: 20px;
}
