.section1 {
  background: url(../img/header2.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 h1 {
  margin: 0;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px #000000;
  font-family: "Playfair";
  font-weight: 700;
  letter-spacing: 3px;
}

.section1 h3 {
  color: white;
  text-shadow: 1px 1px #000000;
  font-family: "lato";
  font-weight: 400;
  text-align: center;
}

.section2 {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 h1 {
  color: white;
}
